{% load static %}

<script src="{% static 'js/jquery-2.2.3.min.js' %}"></script>
<script src="{% static 'js/SmoothScroll.min.js' %}"></script>
<script src="{% static 'js/counter.js' %}"></script>
<script src="{% static 'js/counter.js' %}"></script>
<script src="{% static 'js/responsiveslides.min.js' %}"></script>
<script src="{% static 'js/move-top.js' %}"></script>
<script src="{% static 'js/easing.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>

<!-- Custom Theme files -->
<link href="{% static 'css/bootstrap.css' %}" type="text/css" rel="stylesheet" media="all">
<link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="all">
<!-- how it works -->
<link href="{% static 'css/timeline.css' %}"  type="text/css" rel="stylesheet" media="all">
<!-- grid hover -->
<link href="{% static 'css/hover.css' %}" type="text/css" rel="stylesheet" media="all">
<!-- font-awesome icons -->
<link href="{% static 'css/fontawesome-all.min.css' %}" rel="stylesheet">
<!-- //Custom Theme files -->
<!-- online-fonts -->
<link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet">
<!-- //online-fonts -->


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-138769076-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-138769076-1');
</script>
