<div class="about-w3sec py-sm-5" id="about">
    <div class="container py-5">
        <div class="title-section pb-4">
            <h3 class="main-title-agile">Jesteś w dobrych rękach</h3>
            <span class="title-line">
                </span>
        </div>
        <div class="ins-sec1">
            <div class="row">
                <div class="col-lg-4">
                    <div class="abt-block mb-lg-0 mb-5">
                        <div class="serv_abs serv_bottom">
                            <i class="fas fa-home"></i>
                        </div>
                        <h3>Ubezpieczenie domu i mieszkania</h3>
                        <p>
{#                            Bla bla. Ubezpiecz swój dom.#}
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 my-lg-0 my-md-5"
{#                     onclick="window.location='{% url 'contact_forms:oc_ac_create' %}'" style="cursor: pointer"#}
                >
                    <div class="abt-block">
                        <div class="serv_abs serv_bottom">
                            <i class="fas fa-car"></i>
                        </div>
                        <h3>Ubezpieczenie samochodu</h3>
                        <p>
{#                            Bla bla. Ubezpiecz samochód. ...i szyby.#}
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 mt-lg-0 mt-md-5">
                    <div class="abt-block mt-md-0 mt-5">
                        <div class="serv_abs serv_bottom">
                            <i class="fas fa-plane"></i>
                        </div>
                        <h3>Ubezpieczenie podróżne</h3>
                        <p>
{#                            Bla bla. Ubezpiecz się w podróży.#}
                        </p>
                    </div>
                </div>
            </div>
            <div class="row mt-lg-5">
                <div class="col-lg-8 mx-auto mt-5">
                    <div class="row">
                        <div class="col-lg-6 my-lg-0 my-md-5">
                            <div class="abt-block">
                                <div class="serv_abs  serv_bottom">
                                    <i class="fas fa-hand-holding-heart"></i>
                                </div>
                                <h3>Ubezpiecznie NNW</h3>
                                <p>
{#                                    Bla bla. Ubezpiecz się od NNW#}
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-6 mt-lg-0 mt-5">
                            <div class="abt-block">
                                <div class="serv_abs  serv_bottom">
                                    <i class="fas fa-hand-holding-usd"></i>
                                </div>
                                <h3>Inne</h3>
{#                                <p>Bla bla. Ubezpiecz wszystko</p>#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>