<div class="banner" id="home">

    <div class="container">
        <div class="banner-text">
            <div class="slider-info">
                <h3>Nie ryzykuj, ubezpiecz się</h3>
                <p class="text-white mt-sm-4 mt-2">
{#                    Jakiś dalszy tekst zachęcający ludzików do ubezpieczania się.#}
                </p>
                <a class="btn btn-primary mt-4 agile-link-bnr scroll" href="#about" role="button">Zobacz więcej</a>
            </div>
        </div>
    </div>

</div>
