{% load static %}

<div class="testimonials py-lg-5" id="testi">
    <div class="container py-5">
        <div class="title-section pb-4">
            <h3 class="main-title-agile text-white">Opinie naszych kientów.</h3>
            <span class="title-line bg-light">
                </span>
        </div>
        <div class="text-center py-lg-5">
            <div class="callbacks_container">
                <ul class="rslides" id="slider3">
                    <li>
                        <div class="testi-agile">
                            <p>
                                <i class="fas fa-quote-left"></i>Guggugugu, blblbaldaslfdalfd Bla bla bla bla.
                                <i class="fas fa-quote-right"></i>
                            </p>
                        </div>
                        <div class="testi-pos">
                            <img src="{% static 'images/ts1.jpg' %}" alt="" class="img-fluid rounded-circle mb-3" />
                            <h4>Apolonia Dec</h4>
                            <span>Praga</span>
                        </div>
                    </li>
                    <li>

                        <div class="testi-agile">
                            <p>
                                <i class="fas fa-quote-left"></i>Wow ale super! Bla bla bla bla.
                                <i class="fas fa-quote-right"></i>
                            </p>
                        </div>
                        <div class="testi-pos">
                            <img src="{% static 'images/ts2.jpg' %}" alt="" class="img-fluid rounded-circle mb-3" />
                            <h4>Maciej Dec</h4>
                            <span>Praga</span>
                        </div>
                    </li>
                    <li>
                        <div class="testi-agile">
                            <p>
                                <i class="fas fa-quote-left"></i>亂數假文產生器
                                <i class="fas fa-quote-right"></i>
                            </p>
                        </div>
                        <div class="testi-pos">
                            <img src="{% static 'images/ts3.jpg' %}" alt="" class="img-fluid rounded-circle mb-3" />
                            <h4>Jakaś azjatka</h4>
                            <span>Gdzieś w Azji</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
