Nowy formularz {{ data.type }} od {{ data.first_name }} {{ data.last_name }}:

{% if data.general %}
Wiadomość:
    {{ data.message }}

Dane kontaktowe:
    {% if data.phone %}
Telefon: {{ data.phone }}
    {% endif %}
Email: {{ data.email }}

{% else %}
Przesłane dane:
    <!-- OC/AC -->
    {% if data.type == 'OC/AC' %}
Marka: {{ data.car_brand }}
Model: {{ data.car_model }}
Przebieg: {{ data.car_mileage }}
Zniżki: {{ data.car_discounts }}
Silnik: {{ data.car_engine_type }}
Pojemność silnika: {{ data.car_engine_size }}

        <!-- Dom/Mieszkanie -->
    {% elif data.type == 2 %}

        <!-- Podróżne -->
    {% elif data.type == 3 %}

        <!-- NNW/Na Życie -->
    {% elif data.type == 4 %}

        <!-- Inne -->
    {% elif data.type == 5 %}

    {% endif %}
{% endif %}

Pozdrawiam,
Twoja strona internetowa
